.auth__suggestion {
  margin-top: 20px;
  margin-bottom: 0;
  color: #FFF;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}